{% load menu_tags %}
<aside class="single_sidebar_widget popular_post_widget">
    <h3 class="widget_title">Recent Post</h3>
  {% for post in posts %}
    <div class="media post_item">
        <img src="{{ post.image.url }}" alt="post">
        <div class="media-body">
            <a href="{{ post.get_absolute_url }}">
                <h3>{{ post.title|truncatechars:13 }}</h3>
            </a>
          {% if post.created_at|hours_ago:24 %}
            <p>{{ post.created_at|timesince:now_date }} ago</p>
          {% else %}
            <p>{{ post.created_at|date:'F j, Y' }}</p>
          {% endif %}

        </div>
    </div>
  {% endfor %}
</aside>

