.hide {
  display: none !important;
}

.show {
  display: inline-block !important;
}


.f-cart:hover {
  background-color: #fff; !important;
  color: #fff; !important;
}
.admin-panel {
    border: 1px solid #999; !important;
    border-radius: 2px; !important;
    position: fixed; !important;
    right: 50px; !important;
    bottom: 30px; !important;
    opacity: 0.3; !important;
    padding: 15px; !important;
}

.admin-panel:hover {
    opacity: 1;!important;
}


.admin-panel a {
    display: block; !important;
    margin: 5px 0; !important;
}

.admin-panel a:hover {
    background-color: #4ac1f7;!important;
}

.form-field{
	width:250px;!important;
	display: inline-block;!important;
	padding: 5px;!important;
}

.form-field{
	width:250px;!important;
	display: inline-block;!important;
	padding: 5px;!important;
}

.form-field input{
	color: grey; !important;
}

.form-field input:focus {
  border: 2px solid blue; !important; /* Добавить синюю границу при получении фокуса */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); !important; /* Добавить тень вокруг элемента при получении фокуса */
}

