.hide {
  display: none !important;
}

.show {
  display: inline-block !important;
}


.f-cart:hover {
  background-color: #fff; !important;
  color: #fff; !important;
}
.admin-panel {
    border: 1px solid #999; !important;
    border-radius: 2px; !important;
    position: fixed; !important;
    right: 50px; !important;
    bottom: 30px; !important;
    opacity: 0.3; !important;
    padding: 15px; !important;
}

.admin-panel:hover {
    opacity: 1;!important;
}


.admin-panel a {
    display: block; !important;
    margin: 5px 0; !important;
}

.admin-panel a:hover {
    background-color: #4ac1f7;!important;
}

.form-field{
	width:250px;!important;
	display: inline-block;!important;
	padding: 5px;!important;
}

.form-field{
	width:250px;!important;
	display: inline-block;!important;
	padding: 5px;!important;
}

.form-field input{
	color: grey; !important;
}

.form-field input:focus {
  border: 2px solid blue; !important; /* Добавить синюю границу при получении фокуса */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); !important; /* Добавить тень вокруг элемента при получении фокуса */
}

.recent-container {
  width: 80px; /* Укажите ширину контейнера */
  height: 80px; /* Укажите высоту контейнера */
  overflow: hidden; /* Обрезаем все, что выходит за пределы контейнера */
}

.recent-img-container {
  width: 100%; /* Убедитесь, что контейнер растягивается по ширине */
  height: 100%; /* Убедитесь, что контейнер растягивается по высоте */
  object-fit: cover; /* Обрезаем изображение по середине */
}


@media (max-width: 1200px) {
  /* line 595, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_blog.scss */
  .contact_cart {
      display: none;!important;
  }
}

@media (max-width: 768px) {
  /* line 595, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_blog.scss */
  .admin-panel {
      display: none;!important;
  }
}

.contact_form {
    padding-bottom: 30px;
}

.cust-border {
        background-color: #B08EAD; !important;
        color: #B08EAD; !important;
}