{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

  <!--================Checkout Area =================-->
  <section class="checkout_area section_padding">
    <div class="container">
      <div class="returning_customer" id="user-info">
        <div class="check_title">
          <h2>
            Returning Customer?
            <a href="#">Click here to login</a>
          </h2>
        </div>
        <p>
          If you have shopped with us before, please enter your details in the
            boxes below. If you are a new customer, please provide the correct data</p>

        <form class="row contact_form" id="form1" action="#" method="post" novalidate="novalidate">
          {% csrf_token %}
          <div class="col-md-6 form-group p_star">
              <div class="form-field">
                  <input required type="text" class="form-control" name="name" placeholder="Name...">
              </div>
          </div>
          <div class="col-md-6 form-group p_star">
              <div class="form-field">
                  <input required type="text" class="form-control" name="email" type="email" placeholder="Email...">
              </div>
          </div>
        </form>
      </div>
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
          <div id="shipping-info">
            <h3>Shipping Information</h3>
            <form class="row contact_form" id="form" action="#" method="post" novalidate="novalidate">
                {% csrf_token %}
                <div class="col-md-6 form-group p_star form-field">
                    <input required type="text" class="form-control" name="address" placeholder="Address..">
                </div>
                <div class="col-md-6 form-group p_star form-field">
                    <input required type="text" class="form-control" name="city" placeholder="City..">
                </div>
                <div class="col-md-6 form-group p_star form-field">
                    <input required type="text" class="form-control" name="state" placeholder="State..">
                </div>
                <div class="col-md-6 form-group p_star form-field">
                    <input required type="text" class="form-control" name="zipcode" placeholder="Zip code..">
                </div>

                <hr>
            </form>
          </div>
              <input id="form-button" class="btn btn-success btn-block continue" type="submit" value="Continue">
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li>
              {% for item in items %}
                <li>
                  <a href="#">{{ item.product.name|truncatechars:15 }}
                    <span class="middle">x {{ item.quantity|leading_zero }}</span>
                    <span class="last">${{ item.get_total|floatformat:2 }}</span>
                  </a>
                </li>
              {% endfor %}
{#                <li>#}
{#                  <a href="#">Fresh Tomatoes#}
{#                    <span class="middle">x 02</span>#}
{#                    <span class="last">$720.00</span>#}
{#                  </a>#}
{#                </li>#}
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Items
                    <span>{{ order.get_cart_items }}</span>
                  </a>
                </li>
                  <li>
                  <a href="#">Subtotal
                    <span>${{ order.get_cart_total| floatformat:2 }}</span>
                  </a>
                </li>
                <li id="shipping-cost">
                  <a href="#">Shipping
                    <span>Flat rate: ${{ shipping_cost| floatformat:2 }}</span>
                  </a>
                </li>
                <li>
                  <a href="#">Total
                      <span>
                          ${{ total }}
                      </span>
                  </a>
                </li>
              </ul>
            <div class="box-element hide" id="payment-info">
                <small>Paypal Options</small>
                <p></p>
                <a class="btn_3" id="make-payment" href="#">Proceed to Paypal</a>

                <div id="paypal-button-container"></div>
                <script src="https://www.paypal.com/sdk/js?client-id=AVWTY9Regn4PbSv7amW5kMd7mPuorskjcIVxXp8D9vHaNSCa2N-ZrnhofLKV_D2d6KI5mRYv_jj_puhD&currency=USD"></script>

                <script>
                    paypal.Buttons({

                        createOrder: function(data, actions) {
                            return actions.order.create({
                                purchase_units: [{
                                    amount: {
                                        value: '0.01'
                                    }
                                }]
                            })
                        },

                        onApprove: function (data,actions) {
                            return actions.order.capture().then(function(details) {
                               alert('Transaction completed by ' + details.payer.name.given_name + '!');
                            });
                        }

                    }).render('#paypal-button-container')
                </script>

            </div>
            </div>
            </div>
          </div>
        </div>
    </div>
  </section>

    <script type="text/javascript">
    var shipping = '{{ order.shipping }}'
    var total = '{{ order.get_cart_total }}'

    if (shipping == 'False'){
        document.getElementById('shipping-info').innerHTML = ''
        document.getElementById('shipping-cost').innerHTML = ''
    }

    if (user != 'AnonymousUser'){
        document.getElementById('user-info').innerHTML = ''
    }

    var formButton = document.getElementById('form-button')
    if (shipping == 'False' && user != 'AnonymousUser') {
        document.getElementById('payment-info').classList.remove('hide')
        formButton.classList.add('hide')
    }

    var form1 = document.getElementById('form1')
    var form = document.getElementById('form')

    try {
        csrftoken = form.getElementsByTagName('input')[0].value
    }   catch (error) {
        csrftoken = form1.getElementsByTagName('input')[0].value
    }


    console.log('NEWCSRFTOKEN:', csrftoken)



    formButton.addEventListener('click', function(e){
        e.preventDefault()
        console.log('Form submitted...')
        document.getElementById('payment-info').classList.remove('hide')
        formButton.classList.add('hide')
    })

    document.getElementById('make-payment').addEventListener('click',
        function(e) {
            e.preventDefault()
            submitFormData()
    })

    function submitFormData(){
        console.log('Payment button clicked')

        var userFormData = {
            'name': null,
            'email': null,
            'total': total
        }

        var shippingInfo = {
            'address': null,
            'city': null,
            'stata': null,
            'zipcode': null,
        }

        if (shipping != 'False'){
            shippingInfo.address = form.address.value
            shippingInfo.city = form.city.value
            shippingInfo.state = form.state.value
            shippingInfo.zipcode = form.zipcode.value
        }

        if (user == 'AnonymousUser'){
            userFormData.name = form1.name.value
            userFormData.email = form1.email.value
        }

        var url = /process_order/

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'form': userFormData, 'shipping': shippingInfo})
        })
            .then((response) => response.json())
            .then((data) => {
                console.log('Proshlo')
                console.log('Success:', data)
                cart = {}
                document.cookie = 'CART=' + JSON.stringify(cart) +  JSON.stringify(cart) + ';domain=;path=/'

                alert('Transaction complete')
                window.location.href = {% url 'mart' %}
            })
    }
    </script>
{% endblock content %}
