{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="breadcrumb_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <h2>register</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb part end-->

    <!--================login_part Area =================-->
    <section class="login_part section_padding ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_text text-center">
                        <div class="login_part_text_iner">
                            <h2>New to our Shop?</h2>
                            <p>There are advances being made in science and technology
                                everyday, and a good example of this is the</p>
                            <a href="#" class="btn_3">Create an Account</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Welcome Back ! <br>
                                Please Sign in now</h3>
                            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                                {% csrf_token %}

                                {% for f in form %}
                                    {% if forloop.last %}
                                    {% else %}
                                        <div class="col-md-12 form-group p_star">
                                            {{ f }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="col-md-12 form-group">
                                    <div class="creat_account d-flex align-items-center">
                                        {{ form.remember_me }}
                                        <label for="{{ form.remember_me.id_for_label }}">Remember me</label>
                                    </div>
                                    <button type="submit" value="submit" class="btn_3">
                                        register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}